:root {
    --highlight: #27AE60;
    --gray: #5D5D5D;
    --lightgray: #9e9e9e;
    --dark: #5b5b5b;
    --link: hsl(216, 88%, 45%);
}

.mysection {
    margin: 2em 0 3em 0;
}

.mysectionheader {
    width: 100%; 
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0.2rem solid #000; 
    line-height: 0.55rem;
    margin-bottom: 1em;
} 

.mysectionheader span {
    background-color: white;
}

.invisiblelink {
    color: inherit;
}

/* Any entry */


.entrytitle {
    color: var(--dark);
    font-weight: bold;
}

.entrysubtitle {
    color: var(--gray);
    font-size: 0.9rem;
    font-variant: small-caps;
}

.entrysubsubtitle {
    color: var(--lightgray);
    font-size: 0.7rem;
    font-variant: small-caps;
    font-weight: lighter;
}


.entryrightcol {
    font-style: italic;
    text-align: right;
    font-size: 0.8rem;
}

.entryrightcolfirst {
    color: var(--highlight);
}

.entryrightcolsecond {
    color: var(--gray);
}


/* Resume */ 

.cventrycontainer {
    display: grid;
    grid-template-columns: 3em auto 25%;
    column-gap: 2%;
    margin: 1em 0;
}

.cventrycontainer a:link, a:visited, a:hover, a:active  {
    text-decoration: none;
}

.cventrylogo {
    display: flex;
    align-items: center;
}

.cventrylogo img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.cventrydescription {
    grid-column: 2 / 4;
    grid-row: 2;
}

.cventrydescription ul {
    background-color: pink;
    padding-left: 1rem;
}

.cventrydescription li {
    background-color: #27AE60;
}

/* Publications */

.publicationcontainer {
    display: grid;
    grid-template-columns: auto 10%;
    column-gap: 2%;
    margin: 1em 0;
}

.publicationcontainer a:link, a:visited, a:hover, a:active  {
    text-decoration: none;
}

.publicationdescription {
    grid-column: 1 / 3;
    grid-row: 2;
    font-size: 0.7rem;
}
